.Navbar {
    width: 100%;
    position: fixed;
    background-color: rgba(14, 3, 18, 0.901);
    top: 0;
    height: 60px;
    border-bottom: 1px solid var(--border-color);
  
    .container {
        height: 100%;
        display: flex;
        align-items: center;
        
        justify-content: space-between;
        .banner{
            color: aliceblue;
        }
    }

    .right-side {
        display: flex;
        gap: 20px;
        align-items: center;

        .logout {
            font-size: 1.8rem;
            display: flex;
            color: aliceblue;
            justify-content: center;
            align-items: center;
        }
    }
}
